[submodule "zeppelin-solidity"]
	path = zeppelin-solidity
	url = https://github.com/OpenZeppelin/zeppelin-solidity.git
[submodule "LibCLLi"]
	path = LibCLLi
	url = https://github.com/o0ragman0o/LibCLLi.git
[submodule "ethereum-string-utils"]
	path = ethereum-string-utils
	url = https://github.com/pipermerriam/ethereum-string-utils.git
